<div class="container">
  <div class="row mt-4 mb-5 offset-1 ">
    <h4 class="bg-light px-3">商品詳細</h4>
  </div>

  <div class="row mt-5">

    <div class="col-4">
      <%= image_tag @item.item_image, size: "300x200" %>
    </div>

    <div class="col-8">
      <div class="row">
        <table class="item-show-table">
          <tbody>
            <tr>
              <td>商品名</td>
              <td class="pl-5"><%= @item.name %></td>
            </tr>
            <tr>
              <td>商品説明</td>
              <td class="pl-5"><%= @item.introduction %></td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td class="pl-5"><%= @item.genre.name %></td>
            </tr>
            <tr>
              <td>税込価格(税抜価格)</td>
              <td class="pl-5"><%= (@item.price * 1.1).floor.to_s(:delimited) %>(<%= @item.price.to_s(:delimited) %>)円</td>
            </tr>
            <tr>
              <td>販売ステータス</td>
            <% if @item.is_active["true"] %>
              <td class="pl-5 text-success">
                <strong><%= @item.is_active_i18n %></strong>
              </td>
            <% else %>
              <td class="pl-5 text-secondary">
                <strong><%= @item.is_active_i18n %></strong>
              </td>
            <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-12 d-flex justify-content-center mb-10">
    <%= link_to "編集する", edit_admin_item_path, class: 'btn btn-success px-4 py-3 mt-4' %>
  </div>
</div>