<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row ml-3 my-3">
        <h5 class="bg-light px-3">ショッピングカート</h5>
        <%= link_to "カートを空にする", destroy_cart_items_path, method: :delete, class: 'btn btn-sm btn-danger ml-auto mr-4 px-4' %>
      </div>
      <div class="row mx-2 d-flex justify-content-center my-3">
        <table class="table table-bordered border-dark">
          <thead class="table-bordered bg-light">
            <tr>
              <th colspan="2">商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <th></th>
            </tr>
          </thead>
          <% @cart_items.each do |cart_item| %>
          <tbody>
            <tr>
              <td colspan="2">
                <%= image_tag cart_item.item.item_image, class: "img-cart_item-index" %>
                <%= cart_item.item.name %>
              </td>
              <td><%= ((cart_item.item.price) * 1.1.floor).to_s(:delimited) %></td>

              <td>
                  <%= form_with model: @cart_items, url: update_cart_items_path(cart_item), method: :patch do |f| %>
                    <%= f.select :amount, options_for_select(*[1..10], cart_item.amount), class: '' %>
                    <%= f.submit "変更", class: 'btn btn-sm btn-success' %>
                  <% end %>
              </td>
              <td><%= ((cart_item.item.price * 1.1).floor * cart_item.amount).to_s(:delimited) %></td>
              <td><%= link_to "削除する", destroy_cart_item_path(cart_item.id), method: :delete, class: 'btn btn-sm btn-danger' %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
      <div class="row ml-4 my-3 mr-1">
        <div class="col-6">
          <%= link_to "買い物を続ける", root_path, class: 'btn btn-primary' %>
        </div>
        <div class="col-3 ml-auto">
          <table class="table table-bordered border-dark">
            <tbody>
              <tr>
              <th class="bg-light">合計金額</th>
              <td><%= @total_price.to_s(:delimited) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <% unless current_customer.cart_items.blank? %>
        <div class="row d-flex justify-content-center my-3">
          <%= link_to "情報入力に進む", new_order_path, class: 'btn btn-success px-5' %>
        </div>
      <% end %>
    </div>
  </div>
</div>