<div class="container">
	<div class="row">

		<div class="col-2">
		</div>

		<div class="col-10 mb-10">

			<div class="row mt-3 ml-1">
        <h3>商品一覧（全件）</3>
      </div>

      <div class="row mt-1 mb-3">
        <% @items.each do |item| %>
        <div class="col-3 mb-3">
        	<%= link_to item_path(item.id) do %>
	          <% if item.item_image.attached? %>
					    <%= image_tag item.item_image, class: "img-index" %>
					  <% else %>
					    <%= image_tag 'no_image' %>
					  <% end %><br>
	          <%= item.name %>
          <% end %><br>
          ¥<%= item.price.to_s(:delimited) %>
        </div>
        <% end %>
      </div>

			<div class="row d-flex justify-content-center mb-5">
				<%= paginate(@items) %>
			</div>

		</div>

	</div>
</div>